<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.titomi.workertrackerloginmodule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".HomeSplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UsersLoginTrivalActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".TabActivity" />
        <activity
            android:name=".ReportModule.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.DarkActionBar" >

        </activity>
        <activity android:name=".UserProfile.UserProfileActivity" />
        <activity android:name=".UserProfile.EditProfileActivity" />
        <activity android:name=".InventoryModule.InventoryActivity" />
        <activity android:name=".AttendanceModule.AttendanceSubMenu.AttendanceActivity" />
        <activity android:name=".Task.TaskDetailsActivity" />
        <activity android:name=".ReportModule.ReportMainActivity" />
        <activity android:name=".AttendanceModule.AttendanceMainActivity" />
        <activity android:name=".AlertManager.AlertMainActivity" />
        <activity android:name=".SupervisorManager.SupervisorMainActivity" />
        <activity android:name=".InventoryModule.InventorySubMenu.ProductRequestActivity" />
        <activity android:name=".InventoryModule.InventorySubMenu.ReceivedInventoryActivity" />
        <activity android:name=".InventoryModule.InventorySubMenu.RemittanceRecordsActivity" />
        <activity android:name=".InventoryModule.InventorySubMenu.InventoryReportActivity" />
        <activity android:name=".InventoryModule.InventorySubMenu.SalesReportActivity" />
        <activity android:name=".ReportModule.TaskReportListActivity" />
        <activity android:name=".ReportModule.SingleReportActivity" />
        <activity android:name=".AttendanceModule.AttendanceSubMenu.AttendanceReportActivity" />
        <activity android:name=".AttendanceModule.AttendanceSubMenu.LeaveRequestActivity" />
        <activity android:name=".AttendanceModule.AttendanceSubMenu.LeaveHistoryActivity"
            android:label="Leave Applications"
            android:icon="@drawable/app_logo"
            android:theme="@style/AppTheme.DarkActionBar"/>
        <activity android:name=".AlertManager.AlertSubMenu.GeofencingActivity" />
        <activity android:name=".AlertManager.AlertSubMenu.LowStockActivity" />
        <activity android:name=".AlertManager.AlertSubMenu.AbsentActivity" />
        <activity android:name=".AlertManager.AlertSubMenu.LowBatteryActivity" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".Task.RoutePlanActivity" />
        <activity android:name=".Message_and_Notice.MessagesActivity" />
        <activity android:name=".supervisor.activities.MainActivity" />
        <activity
            android:name=".supervisor.activities.ActivityAdminNewMessage"
            android:label="New Message"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityMessageListing"
            android:label="Messages"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityViewMessage"
            android:label="View Message"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityMessageMenu"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityInventoryRequestsListing"
            android:label="Requests"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityAssignTask"
            android:label="Assign Task"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityViewReport"
            android:label="View Report"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityReportListing"
            android:label="Reports"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityChallenges"
            android:label="Challenges"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".supervisor.activities.ActivityLeaveApplication"
            android:label="Leave Application"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity android:name=".supervisor.activities.ActivityAttendanceReport" />
        <activity
            android:name=".supervisor.activities.ActivityTaskListing"
            android:label="Task Listing"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".supervisor.activities.ActivityInventoryRequest"
            android:label="Inventory Request"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity android:name=".ReportModule.ActivityVideoTrimmer"/>
        <activity android:name=".ReportModule.VideoPlayer"
            android:theme="@style/AppTheme.DarkActionBar"
            android:label="Video Player"/>

        <service android:name=".services.FieldMonitorMessagingService"
            android:label="FieldMonitorMessagingService"/>

        <service android:name=".services.FieldMonitorReportUploadService"
            android:label="FieldMonitorReportUploadService"/>

    </application>

</manifest>